
.flow-design {
  display: flex;
  flex-direction: column;

  .flow-design-action{
    margin-bottom: 10px;
  }

  .flow-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;

    .viewport{
      flex: 1;
    }
  }

  .lf-dndpanel{
    color: #333;
  }
  .lf-control{
    color: #333;
  }
  .lf-menu,.lf-text-input{
    color: #333;
  }
}

.lf-line-text{
  color: #333;
}

.flow-dnd-panel{
  position: absolute;
  top: 20px;
  left: 10px;
  width: 90px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 1px #e4e0db;
  border-radius: 6px;
  text-align: center;
  z-index: 101;

  .flow-dnd-panel-item{
    color: #333;
    margin-bottom: 18px;
    user-select: none;

    svg{
      width: 40px;
      height: 40px;
    }
  }
}